meta(charset="utf-8")

title Pug
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="referrer" content="no-referrer")

meta(name="description" content="Pug")
meta(name="robots" content="index, follow")

link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap&subset=cyrillic" media="all")
